.inner {
  width: 60%;
  /* min-height: 100dvh; */
  /* background-color: green; */
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: center;
  height: 100%;
  justify-content: center;
}
