.button {
  display: inline-block;
  border: none;
  cursor: pointer;
  background-color: #cb62ff;
  color: #0d0d0d;
  font-size: 0.89rem;
  border-radius: 0.67rem;
}

.small {
  /* width: 5.3vw; */
  /* height: 5vh; */
  width: 5.56rem;
  height: 2.6rem;
}

.medium {
  width: 120px;
  height: 2.6rem;
}

.large {
  width: 30vw;
  height: 2.6rem;
}
