.logoContainer {
  /* width: 23vh;
  height: 23vh; */
  width: 11.1rem;
  height: 11.1rem;
  background-color: #0d0d0d;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  box-shadow: inset 0 0 0.83rem 0.2rem rgba(203, 98, 255, 0.4);
  border-radius: 23%;
  margin-top: 1.6rem;
}
.logoContainer::before {
  content: "";
  position: absolute;
  inset: 0;
  border-radius: 23%;
  background-color: #0d0d0d;
  padding: 0.06rem;
  background: linear-gradient(
    to bottom,
    rgba(203, 98, 255, 0.7) 0%,
    rgba(0, 0, 0, 0) 90%
  );

  -webkit-mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
  mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
  -webkit-mask-composite: xor;
  mask-composite: exclude;
}
.logo {
  /* width: 19vh;
  height: 19vh; */
  width: 9.4rem;
  height: 9.4rem;
  background-color: #ffffff;
  border-radius: 20%;
}
.startPoint {
  position: relative;
  /* background-color: red; */
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 10vw;
  height: 9vh;
}
.circle1 {
  position: absolute;
  width: 75vw;
  height: 95vh;
  /* max-width: 1300px; */
  /* max-height: 900px; */
  background: linear-gradient(
    180deg,
    rgba(203, 98, 255, 0) 50%,
    rgba(202, 98, 255, 0.45) 100%
  );
  border-radius: 50%;
  box-shadow: 0rem 0.25rem 0.25rem rgba(0, 0, 0, 0.25);
  bottom: 0;
  z-index: 0;
}

.circle1::before {
  content: "";
  position: absolute;
  inset: 0;
  border-radius: 50%;
  padding: 0.1rem;
  background: linear-gradient(
    to bottom,
    rgba(255, 255, 255, 1) 0%,
    rgba(255, 255, 255, 1) 60%,
    rgba(203, 98, 255, 0.5) 90%,
    rgba(203, 98, 255, 0) 100%
  );

  -webkit-mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
  mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
  -webkit-mask-composite: xor;
  mask-composite: exclude;
}
.textContainer {
  /* background-color: red; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 1.2rem;
}
.nameContainer {
  margin-top: 1.2rem;
}
.name {
  font-size: 4.45rem;
  color: #cb62ff;
  font-weight: bold;
}
.introContainer {
  margin-top: 0.56rem;
  text-align: center;
  width: 48vw;
}
.intro {
  color: #ffffff;
  font-weight: 500;
  font-size: 1rem;
  z-index: 1;
}
.startBtnContainer {
  /* width: 7.3vw; */
  width: 7.5rem;
  /* max-width: 120px; */
  /* height: 6vh; */
  height: 3.1rem;
  /* max-height: 50px; */
  background: linear-gradient(
    rgba(13, 13, 13, 0.8) 0%,
    rgba(203, 98, 255) 100%
  );
  border-radius: 5.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 0.006rem solid #000000;
  box-shadow: inset 0 0 1.12rem 0.39rem rgba(203, 98, 255, 0.6);
  position: absolute;
  z-index: 1;
  bottom: -1.55rem;
  transition: transform 0.1s ease, box-shadow 0.1s ease;
}
.startBtnContainer:hover {
  transform: scale(1.05);
}
.startBtnContainer:active {
  transform: scale(0.95);
  box-shadow: inset 0 0 0.83rem 0.28rem rgba(203, 98, 255, 0.4);
}

.startBtn {
  color: #ffffff;
  font-size: 1rem;
  font-weight: 600;
}
.dotContainer {
  position: absolute;
  display: flex;
  flex-direction: column;
  gap: 2.23rem;
  z-index: 0;
  top: 3rem;
}

.dotRow {
  display: flex;
  justify-content: center;
  gap: 2.5rem;
}

.dot {
  /* width: 0.7vw; */
  /* height: 0.7vw; */
  width: 11px;
  height: 11px;
  background-color: rgba(202.67, 98, 255, 0.45);
  border-radius: 50%;
}
.eclipseBlur {
  position: absolute;
  /* width: 30vw; */
  width: 32.2rem;
  /* height: 25vh; */
  height: 12.78rem;
  background-color: rgba(203, 98, 255, 0.5);
  /* background-color: red; */
  border-radius: 50%;
  filter: blur(6.67rem);
  bottom: -12.5vh;
}
.circle2 {
  position: absolute;
  width: 120vw;
  height: 110vh;
  /* max-height: 900px; */
  border-radius: 50%;
  bottom: 0;
  z-index: 0;
  background-color: transparent;
}

.circle2::before {
  content: "";
  position: absolute;
  inset: 0;
  border-radius: 50%;
  padding: 0.28rem;
  background: linear-gradient(
    to bottom,
    rgba(255, 255, 255, 0.8) 0%,
    rgba(203, 98, 255, 1) 70%,
    rgba(203, 98, 255, 0) 100%
  );

  -webkit-mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
  mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
  -webkit-mask-composite: xor;
  mask-composite: exclude;
}
.circle3 {
  position: absolute;
  width: 120vw;
  height: 110vh;
  /* max-height: 900px; */
  border-radius: 50%;
  top: 0;
  z-index: 0;
  background-color: transparent;
  background: linear-gradient(
    to top,
    rgba(203, 98, 255, 0) 88%,
    rgba(202, 98, 255, 0.4) 100%
  );
}

.circle3::before {
  content: "";
  position: absolute;
  inset: 0;
  border-radius: 50%;
  padding: 0.28rem;
  background: linear-gradient(
    to bottom,
    rgba(203, 98, 255, 0.4) 0%,
    rgba(255, 255, 255, 1) 30%,
    rgba(255, 255, 255, 1) 100%
  );

  -webkit-mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
  mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
  -webkit-mask-composite: xor;
  mask-composite: exclude;
}
.startBottomPoint {
  position: relative;
  /* background-color: red; */
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 10vw;
  height: 9vh;
}
.eclipseBlurBlack {
  position: absolute;
  width: 50vw;
  height: 30vh;
  background-color: rgba(13, 13, 13, 1);
  /* background-color: red; */
  border-radius: 50%;
  filter: blur(6.67rem);
  top: 5vh;
}
