.container {
  display: flex;
  flex-direction: column;
  height: 100vh;
}
.header {
  flex: 1;
  border-bottom: 1px solid grey;
}
.headerItems {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.login {
  width: 100;
  /* background-color: green; */
  font-size: 20;
}
.content {
  display: flex;
  flex: 15;
  justify-content: center;
  /* background-color: blue; */
  align-items: center;
}
.inner {
  width: 80%;
  height: 50%;
  /* background-color: red; */
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.select {
  display: flex;
  flex-direction: column;
  /* background-color: blue; */
  width: 30%;
  align-items: center;
}

.imgContainer {
  background-color: grey;
  height: 70%;
  width: 70%;
  position: relative;
  top: 40px;
  overflow: hidden;
  transition: transform 0.2s ease; /* 부드럽게 크기가 커지도록 */
}
.imgContainer:hover {
  transform: scale(1.1);
}
.img {
  height: 100%;
  width: 100%;
  transition: transform 0.3s ease;
}
