.header {
  flex: 1;
  /* border-bottom: 1px solid grey; */
  /* background-color: red; */
  z-index: 2;
}
.headerItems {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 1.7vh 2.3vw;
  align-items: center;
}
/* .login {
  background-color: green;
} */
