.container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.img {
  width: 2.8vw;
  height: 2.8vw;
  /* object-fit: cover; */
  border-radius: 0.67rem;
  background-color: white;
}

.text {
  font-size: 1.8rem;
  font-weight: bold;
  color: #cb62ff;
  margin-left: 0.7vw;
  text-align: center;
}
