.container {
  height: 100vh;
  /* background-color: #0d0d0d; */
  /* min-height: 100dvh; */
  /* overflow: hidden; */
  /* position: relative; */
  overflow: hidden;
  position: relative;
}
.grid {
  /* background-color: red; */
  height: 100vh;
  display: grid;
  grid-template-columns: 14rem auto;
  overflow: hidden;
}
.sideBar {
  background-color: #1b1c1e;
  display: flex;
  flex-direction: column;
  padding: 1.7rem 1.1rem;
  height: 100vh;
  box-sizing: border-box; /* 패딩 포함 높이 보장 */
}

.topItemContainer {
  display: flex;
  flex-direction: column;
  height: 25%;
  /* background-color: red; */
  justify-content: space-between;
  padding-bottom: 1.7rem;
  border-bottom: 0.1rem #323232 solid;
}
.itemDiv {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.itemText {
  font-size: 1.1rem;
  color: #ffffff;
  font-weight: 600;
  margin-left: 0.6rem;
}
.chatHistoryConatainer {
  display: flex;
  flex-direction: column;
  height: 60%;
  /* background-color: blue; */
  padding-top: 1.7rem;
  /* border-bottom: 0.1rem #323232 solid; */
}
.bottomItemContainer {
  border-top: 0.1rem #323232 solid;
  height: 15%;
  display: flex;
  /* background-color: green; */
  position: relative;
  flex-direction: column;
  justify-content: flex-end;
}

.bottomItemContainer button {
  padding: 0;
  width: 70%;
  height: 2.2rem;
  border-radius: 0;
  background-color: transparent;
  border: none;
  cursor: pointer;
}
/* .bottomItemContainer .itemDiv2:first-child {
  margin-top: 2rem;
} */
.chatTitle {
  color: #b7bdc7;
  font-size: 1rem;
  font-weight: 500;
  margin-bottom: 1.4rem;
}
.itemDiv2 {
  display: flex;
  flex-direction: row;
  align-items: center;
  /* background-color: red; */
  /* margin-top: 25px; */
  /* position: absolute;
  bottom: 0; */
}
.itemDiv2 img {
  height: 1.3rem;
  width: 1.3rem;
}
.itemText2 {
  color: #b7bdc7;
  font-size: 1rem;
  margin-left: 0.6rem;
  font-weight: 500;
}
.contentContainer {
  /* background-color: red; */
  height: 100%;
  display: flex;
  justify-content: center;
  overflow-y: auto;
}

/*ChatMain페이지*/
.mainContainer {
  /* background-color: blue; */
  height: 100%;
  width: 87%;
  padding: 4.4rem 0;
  box-sizing: border-box;
}
.chatHistoryContainer {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.topDiv {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  /* background-color: red; */
  padding-bottom: 1.2rem;
  border-bottom: 0.1rem solid #e3e3e3;
}
.leftDiv {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.historyText {
  font-size: 2rem;
  font-weight: bold;
  color: #1b1c1e;
  margin-left: 0.6rem;
}
.newChatDiv {
  background-color: #1b1c1e;
  height: 2.67rem;
  width: 7.8rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 0.67rem;
  transition: all 0.3s ease;
  cursor: pointer;
}
.newChatDiv:hover {
  background-color: #333436;
}

.newChatDiv:active {
  background-color: #2b2c2f;
  transform: scale(0.95);
}

.newChatDiv img {
  width: 0.9rem;
  height: 0.9rem;
}
.newChatText {
  color: #ffffff;
  font-size: 0.9rem;
  margin-left: 0.8rem;
  font-weight: 700;
}
.chatSelectGrid {
  margin-top: 2rem;
  height: 100%;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 1rem; /* Grid 항목 사이의 간격 설정 */
}
.child {
  /* background-color: blue; */
  display: flex;
  flex-direction: column;
}
.dateDiv {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex: 1;
  border-top-left-radius: 0.67rem;
  border-top-right-radius: 0.67rem;
  background-color: #1b1c1e;
  padding: 0 1rem;
}
.dateDiv span {
  color: #ffffff;
  font-weight: 600;
  font-size: 1.2rem;
}
.contentDiv {
  flex: 4;
  border-bottom-left-radius: 0.67rem;
  border-bottom-right-radius: 0.67rem;
  background-color: #ffffff;
  border: 0.1rem #ececf2 solid;
  padding: 1rem;
}

.trashIcon {
  cursor: pointer;
}
.trashIcon:hover {
  transform: scale(1.1);
}
/*Chat페이지*/
.aiContainer {
  /* background-color: blue; */
  height: 100%;
  /* width: 87%; */
  width: 100%;
  padding: 4.4rem 0 2.2rem 0;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.chatContainer {
  width: 100%;
  flex-grow: 1; /* flex: 1 또는 flex-grow: 1로 남은 공간을 차지하도록 설정 */
  overflow-y: auto;
  box-sizing: border-box;
  padding-bottom: 0.6rem;
  padding: 0 3rem;
}
.img {
  width: 2.8rem;
  height: 2.8rem;
}
.messageDiv {
  display: flex;
  flex-direction: column;
}
.onlyAI {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.message {
  /* background-color: green; */
  /* width: 150px; */
  /* height: 50px; */
  max-width: 70%;
  border-bottom-right-radius: 1.7rem;
  border-bottom-left-radius: 1.7rem;
  padding: 0.8rem 1.1rem;
  font-size: 1rem;
  font-weight: 500;
  margin-bottom: 1.1rem;
  word-wrap: break-word;
}
.user {
  background-color: #f4ddff;
  color: #0d0d0d;
  align-self: flex-end;
  text-align: right;
  border-top-left-radius: 1.7rem;
}

.ai {
  background-color: #ececf2;
  color: #0d0d0d;
  align-self: flex-start;
  text-align: left;
  border-top-right-radius: 1.7rem;
  margin-left: 3.64rem;
  margin-top: 0.6rem;
  max-width: 70%;
  border-bottom-right-radius: 1.7rem;
  border-bottom-left-radius: 1.7rem;
  padding: 0.8rem 1.1rem;
  font-size: 1rem;
  font-weight: 500;
}
.inputContainer {
  width: 95%;
  height: 3.9rem;
  min-height: 3.9rem;
  position: relative;
}
.input {
  width: 100%;
  border-radius: 5.6rem;
  height: 100%;
  box-sizing: border-box;
  padding-left: 1.3rem;
  padding-right: 4rem;
  background-color: #ffffff;
  border: 0.1rem solid #ececf2;
  font-size: 1.1rem;
  caret-color: #5e6269;
  color: #5e6269;
}
.input ::placeholder {
  color: #5e6269;
  font-weight: 500;
  font-size: 1.1rem;
}
.loadingIcon {
  animation: spin 1s linear infinite;
  color: black;
  height: 100%;
  width: 100%;
  /* background-color: red; */
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
