.loginForm label {
  text-align: left;
  /* background-color: blue; */
  color: #ffffff;
  font-weight: 500;
  font-size: 0.73rem;
  margin-bottom: 0.56rem;
}
.formContainer {
  /* background-color: red; */
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
  /* width: 30vw; */
  width: 32.2rem;
  /* position: relative;
  top: -4vh; */
  /* margin-bottom: 11vh; */
  margin-bottom: 5.56rem;
}
.loginForm {
  width: 100%;
  /* background-color: red; */
}
input {
  border-radius: 0.67rem;
  /* height: 4.5vh; */
  height: 2.33rem;
  /* width: 100%; */
  box-sizing: border-box;
  flex-grow: 1;
  border: none;
  background-color: #2a2c2f;
  caret-color: #ffffff;
  /* padding-left: 0.8vw; */
  padding-left: 0.89rem;
  color: #ffffff;
}

input::placeholder {
  font-size: 0.78rem;
  color: #969696;
  font-weight: 400;
}
.titleContainer {
  /* margin: 1.5vh 0; */
  margin: 0.8rem 0;
}
.title {
  font-size: 1.67rem;
  color: #ffffff;
  font-weight: 600;
}
.inputContainer {
  display: flex;
  align-items: center;
  width: 100%;
}
.loginBtn {
  background-color: #cb62ff;
  font-size: 0.89rem;
  color: #0d0d0d;
  border: none;
  border-radius: 0.67rem;
  width: 32.2rem;
  /* height: 5vh; */
  height: 2.5rem;
  /* margin-top: 3vh; */
  margin-top: 1.67rem;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.2s ease;
}

.loginBtn:hover {
  background-color: #d378ff;
}

.loginBtn:active {
  background-color: #b14ce3;
}
.emailDiv,
.passwordDiv {
  display: flex;
  flex-direction: column;
  /* margin-bottom: 2vh; */
  margin-bottom: 1rem;
}
.findId {
  color: #969696;
  font-weight: 500;
  font-size: 0.73rem;
}
.findIdDiv {
  display: flex;
  align-items: center;
  justify-content: center;
  /* margin-top: 2.3vh; */
  margin-top: 1.28rem;
}
