.textContainer {
  display: flex;
  flex-direction: column;
  /* background-color: red; */
  width: 100%;
  align-items: center;
  position: relative; /* 다른 요소들이 다이아몬드 위에 위치하도록 함 */
  z-index: 1;
  margin-top: 11vh;
}
.text1Container {
  background-color: #0d0d0d;
  border-radius: 4.4rem;
  /* width: 6.5vw; */
  width: 7rem;
  /* height: 4vh; */
  height: 2.1rem;
  justify-content: center;
  display: flex;
  align-items: center;
  box-shadow: 0 0 0.83rem 0.06rem #cb62ff;
}
.text1 {
  color: #cb62ff;
  font-size: 0.78rem;
  /* margin: 10px 10px; */
  font-weight: 600;
}
.text2Container {
  /* background-color: green; */
  margin-top: 2vh;
}
.text2 {
  color: #ffffff;
  font-weight: bold;
  font-size: 2.2rem;
}
.text3Container {
  margin-top: 2.1vh;
}

.text3 {
  color: #969696;
  font-size: 1rem;
  font-weight: 500;
}
.eclipseBlur {
  position: absolute;
  width: 95vw;
  height: 70vh;
  background-color: rgba(203, 98, 255, 0.2);
  top: 0;
  border-radius: 50%;
  filter: blur(5.56rem);
  z-index: 0;
}
.eclipseDiv {
  position: absolute;
  /* background-color: red; */
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column; /* 세로 정렬 */
  width: 5vw;
  height: 9vh;
  top: 50%;
  z-index: 0;
}
.aiSelectContainer {
  display: flex;
  flex-direction: row;
  width: 100%;
  /* height: 35vh; */
  height: 18rem;
  /* background-color: blue; */
  /* margin-top: 10vh; */
  margin-top: 5rem;
  z-index: 1;
  justify-content: space-between;
  cursor: pointer;
}
.aiSelect {
  width: 17rem;
  height: 17rem;
  border-radius: 50%;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: radial-gradient(
    circle at top,
    rgba(42, 44, 47, 0.1) 20%,
    rgba(70, 40, 90, 0.2) 40%,
    rgba(122, 71, 151, 0.5) 60%,
    rgba(180, 100, 200, 0.8) 80%,
    rgba(203, 98, 255, 1) 90%,
    rgba(240, 210, 255, 1) 100%
  );
  backdrop-filter: blur(11.12rem);
  transition: all 0.3s ease;
}

.aiSelect::before {
  content: "";
  position: absolute;
  inset: 0;
  border-radius: 100%;
  background: linear-gradient(
    to bottom right,
    rgba(203, 98, 255, 1) 0%,
    rgba(13, 13, 13, 0.5) 68%
  );

  padding: 0.06rem;
  box-sizing: border-box;

  -webkit-mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
  mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
  -webkit-mask-composite: xor;
  mask-composite: exclude;
}

.aiSelect::after {
  content: "";
  position: absolute;
  inset: -0.12rem; /* 테두리 두께 */
  border-radius: 100%;
  padding: 0.12rem; /* 테두리 두께 증가 */
  background: conic-gradient(
    from 0deg,
    rgba(203, 98, 255, 1),
    rgba(240, 210, 255, 0.9),
    rgba(203, 98, 255, 1),
    rgba(240, 210, 255, 0.9)
  );
  mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
  mask-composite: exclude;
  -webkit-mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
  -webkit-mask-composite: xor;
  opacity: 0; /* 기본적으로 숨김 */
  transition: opacity 0.3s ease, transform 0.3s ease; /* 애니메이션 효과 추가 */
}

/* .aiSelect:hover::after {
  opacity: 1;
  animation: spinBorder 2s linear infinite;
  transform: scale(1.05);
} */

/* @keyframes spinBorder {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
} */

.aiSelect:hover {
  transform: scale(1.1);
}

/* 클릭 시 약간 줄어드는 효과 */
.aiSelect:active {
  transform: scale(0.97);
}

.tagContainer {
  /* margin-top: 2vh; */
  margin-top: 1rem;
}

.tag {
  font-size: 2rem;
  font-weight: 500;
  color: #ffffff;
}
.img {
  /* width: 14vh; */
  width: 6.7rem;
  height: 6.7rem;
}
