.header {
  flex: 1;
  /* border-bottom: 1px solid grey; */
  /* background-color: red; */
  z-index: 2;
}
.headerItems {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  /* padding: 1.7vh 2.3vw; */
  padding: 1.1rem 2.78rem;
  align-items: center;
}
.profile {
  /* width: 2.9vw;
  height: 2.9vw; */
  width: 2.8rem;
  height: 2.8rem;
  /* object-fit: cover; */
  border-radius: 100%;
  background-color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
  border: solid 0.1rem black;
}
.container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.nickname {
  color: #cccccc;
  font-size: 1rem;
  /* margin-right: 0.8vw; */
  margin-right: 0.83rem;
}

.profileContainer {
  position: relative;
  display: flex;
  flex-direction: row;
}

.modal {
  position: absolute;
  padding-top: 1rem;
  top: 100%;
  right: 0;
  width: 10rem;
  /* border-radius: 50px; */
  z-index: 1000;
  display: none;
  box-shadow: 0 0.2rem 0.3rem rgba(0, 0, 0, 0.1);
}

.profileContainer:hover .modal {
  display: block;
}

.modalContent {
  padding: 0.83rem 0.6rem;
  color: #fff;
  background-color: #484b50;
  border-top-left-radius: 1rem;
  border-bottom-right-radius: 1rem;
  border-bottom-left-radius: 1rem;
}

.modal ul {
  list-style-type: none;
  padding: 0;
}

.modal li {
  padding: 0.67rem;
  cursor: pointer;
  color: #ffffff;
}

.modal li:hover {
  background-color: #5c6369;
  border-radius: 0.67rem;
}

ul {
  margin: 0;
}

.compnayCodeBtn {
  border: none;
  margin-right: 1rem;
  width: 2rem;
  height: 2rem;
  background-color: transparent;
  cursor: pointer;
  /* background-color: rgb(203, 98, 255, 0.6); */
  color: black;
  font-size: 0.9rem;
  text-align: center;
  border-radius: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
.rightItem {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.codeAicon {
  width: 3rem;
  height: 3rem;
}
.codeAicon:hover {
  transform: scale(1.1);
}
.codeAicon:active {
  transform: scale(0.98);
}
